body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
}

html {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
}
